.attendance-list {
    max-width: 900px;
    margin: 0 auto;
    padding: 91px 0;
}

.attendance-list__title {
    font-size: 30px;
    font-weight: 700;
    border-left: 8px solid #000;
    padding-left: 20px;
    margin: 0 0 47px;
}

.attendance-list__date-nav {
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    margin-bottom: 46px;
}

.attendance-list__date-link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #737373;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.attendance-list__current-date {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 20px;
}

.calendar-icon {
    width: 1.2em;
    height: auto;
}

.attendance-list__arrow--left {
    width: 20px;
    height: 15px;
    opacity: 0.3;
}

.attendance-list__arrow--right {
    transform: scaleX(-1);
    width: 20px;
    height: 15px;
    opacity: 0.3;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.attendance-table__header {
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #737373;
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid #e1e1e1;
}

.attendance-table__cell {
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #737373;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #e1e1e1;
}

.attendance-table__body .attendance-table__row:last-child .attendance-table__cell {
    border-bottom: none;
}

.attendance-table__header--name {
    width: 24%;
}

.attendance-table__header--clock-in {
    width: 14%;
}

.attendance-table__header--clock-out {
    width: 14%;
}

.attendance-table__header--break {
    width: 16%;
}

.attendance-table__header--total {
    width: 14%;
}

.attendance-table__header--detail {
    width: 18%;
}

.attendance-table__detail-link {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}